[submodule "vim/vundle.git"]
	path = vim/vundle.git
	url = https://github.com/gmarik/vundle.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = https://github.com/gmarik/vundle.git
